@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
            format("woff2"),
        url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff)
            format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2)
            format("woff2"),
        url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

.main,
.main input {
    font-size: 16px;
    line-height: 24px;
    color: #353740;
    font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.main .icon {
    width: 100px;
}
.main h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #202123;
    margin: 16px 0 40px;
}
.main form {
    display: flex;
    flex-direction: column;
    width: 320px;
}
.main input[type="text"] {
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    margin-bottom: 24px;
    border: 1px solid #a0cc4d;
}
.main ::placeholder {
    color: #8e8ea0;
    opacity: 1;
}
.main input[type="submit"] {
    padding: 12px 0;
    color: bisque;
    background-color: #90bc3d;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.main input[type="submit"]:hover {
    background-color: #97c73f;
}

.main .result {
    font-weight: bold;
    width: 70%;
    margin-top: 40px;
}

.resultsbox {
    border-radius: 20px;
    background-color: #85b629;
    border: 5px solid bisque;
    box-shadow: 0px 0px 12px -3px lightblue;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.resultsbox h2 {
    color: #ffe4c4;
}

.resultsbox br {
    margin-bottom: 10px;
}

.resultsbox span {
    color: #414547;
}

.english,
.foreign {
    background-color: #a0cc4d;
    width: 80%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2%;
    border-radius: 20px;
}

/* .foreign {
    background-color: #a0cc4d;
    width: 80%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2%;
    border-radius: 20px;
} */

.prompt {
    background-color: #a0cc4d;
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2%;
    border-radius: 20px;
}

.hidden {
    display: none;
}

.langContainer {
    display: flex;
    height: 30px;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
}

.langContainer h4 {
    font-size: 16px;
}

.lang {
    margin-left: 15px;
    width: 28%;
    border-radius: 10px;
    font-family: "ColfaxAI", Helvetica, sans-serif;
    color: rgb(105, 105, 105);
    border: 1px solid #a0cc4d;
    text-align: center;
}
